body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
h2{
    font-family: 40px;
}
.flexible-container{
    display: flex;
    margin-bottom:100px ;
}
.half-width{
    width: 50%;
    padding-left: 2%;
    
}
.link-button{
    text-decoration:none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10spx;
}
.About-me{
   background-image: url(7.png);
   background-repeat: no-repeat;
   background-position: right;
}
.title-food{
    width: 40%;
    margin-left: 5% ;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 30px gray;
}
.food-list{
    text-align: center;
    }
.bold-k{
   font-weight: bold;
}
.title-fd{
    margin-left: 5px;
    margin-right: 5px;
}

